# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/


# scripts/
# files/


# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
node_modules/
./package.json
android/.idea/


# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
build/


# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java


# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*


# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/unitypackages/flutter_tools/test/data/dart_dependencies_test/**/.packages


# Unity builds
android/UnityLibrary
ios/UnityLibrary
example/ios/UnityLibrary
example/android/unityLibrary
example/web/unityLibrary


# Unity example project
example/unity/DemoApp/[Tt]est/
example/unity/DemoApp/[Ll]ibrary/
example/unity/DemoApp/[Tt]emp/
example/unity/DemoApp/[Oo]bj/
example/unity/DemoApp/[Bb]uild/
example/unity/DemoApp/[Bb]uilds/
example/unity/DemoApp/[Ll]ogs/
example/unity/DemoApp/[Uu]ser[Ss]ettings/
example/unity/DemoApp/[Mm]emoryCaptures/
example/unity/DemoApp/[Rr]ecordings/
example/unity/DemoApp/[Aa]ssets/Plugins/Editor/JetBrains*
example/unity/DemoApp/.vs/
example/unity/DemoApp/.vscode/
example/unity/DemoApp/.gradle/
example/unity/DemoApp/**/*.csproj
example/unity/DemoApp/**/*.unityproj
example/unity/DemoApp/**/*.sln
example/unity/DemoApp/**/*.suo
example/unity/DemoApp/**/*.tmp
example/unity/DemoApp/**/*.user
example/unity/DemoApp/**/*.userprefs
example/unity/DemoApp/**/*.pidb
example/unity/DemoApp/**/*.booproj
example/unity/DemoApp/**/*.svd
example/unity/DemoApp/**/*.pdb
example/unity/DemoApp/**/*.mdb
example/unity/DemoApp/**/*.opendb
example/unity/DemoApp/**/*.VC.db
example/unity/DemoApp/**/*.apk
example/unity/DemoApp/**/*.aab
example/unity/DemoApp/**/*.unitypackage
example/unity/DemoApp/**/*.app
example/unity/DemoApp/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
example/unity/DemoApp/[Aa]ssets/[Ss]treamingAssets/aa.meta
example/unity/DemoApp/[Aa]ssets/[Ss]treamingAssets/aa/*